# PROPERTY OF ONLY LANS

# this file is the main config file for our service
# for full config options, make sure to check the docs: docs.serverless.com

service: only-lans
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# we can pin our service to only deploy with a specific Serverless version
frameworkVersion: '2'

provider:
  name: aws
  logRetentionInDays: 30 # avoid meaningless bills
  memorySize: 512
  stage: test
  versionFunctions: false
  runtime: nodejs12.x
  region: us-east-2
  # enviroment:
  #   S3_ACCESS_ID: ${ssm:only-lans-s3-id~true}
  #   S3_ACCESS_SECRET: ${ssm:only-lans-s3-secret~true}
    
    #${self:custom.settings}

  # giving users appropriate permissions to the database, parameters, and any other resources they may need for this service
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "logs:*"
      Resource: "*"
    - Effect: "Allow"
      Action:
        - "dynamodb:*"
      Resource: "*"
    - Effect: "Allow"
      Action: "ssm:GetParameters"
      Resource: "*"
    - Effect: "Allow"
      Action: "kms:Decrypt"
      Resource: "*"

# custom:
#   settings:
#     S3_ACCESS_ID: ${ssm:only-lans-s3-id~true}
#     S3_ACCESS_SECRET: ${ssm:only-lans-s3-secret~true}

functions:
  # account functions
  SignUp:
    handler: handlers/account.SignUp
    events:
      - http:
          method: POST
          path: /SignUp
          cors: true

  SignIn:
    handler: handlers/account.SignIn
    events:
      - http:
          method: POST
          path: /SignIn
          cors: true

  ViewAccount:
    handler: handlers/account.View
    events:
      - http:
          method: GET
          path: /Account/{ID}
          cors: true

  ViewAllAccounts:
    handler: handlers/account.ViewAll
    events:
      - http:
          method: GET
          path: /Accounts
          cors: true
  
  UpdateFriends:
    handler: handlers/account.UpdateFriends
    events:
      - http:
          method: PATCH
          path: /AddFriend/Account/{ID}
          cors: true

  UpdateAccount:
    handler: handlers/account.Update
    events:
      - http:
          method: PATCH
          path: /Account/{ID}
          cors: true

  AddGame:
    handler: handlers/account.AddGame
    events:
      - http:
          method: POST
          path: /AddGame/Account/{ID}
          cors: true

  RemoveGame:
    handler: handlers/account.RemoveGame
    events:
      - http:
          method: DELETE
          path: /RemoveGame/Account/{ID}
          cors: true

  # game functions
  ViewGame:
    handler: handlers/game.ViewGame
    events:
      - http:
          method: GET
          path: /Game/{ID}
          cors: true

  ViewAllGames:
    handler: handlers/game.ViewAllGames
    events:
      - http:
          method: GET
          path: /Games
          cors: true

  CreateGame:
    handler: handlers/game.CreateGame
    events:
      - http:
          method: POST
          path: /CreateGame
          cors: true

  # reports functions
  ReportAccount:
    handler: utilities/report.NewReport
    events: 
      - http:
          method: POST
          path: /ReportAccount
          cors: true
  
  # party functions
  CreateParty:
    handler: handlers/party.Create
    events: 
      - http:
          method: POST
          path: /CreateParty
          cors: true

  ViewParty:
    handler: handlers/party.Get
    events:
      - http:
          method: GET
          path: /Party/{ID}
          cors: true

  ViewAllParties:
    handler: handlers/party.GetAll
    events:
      - http:
          method: GET
          path: /Parties
          cors: true
  
  UpdateParty:
    handler: handlers/party.Update
    events:
      - http:
          method: PATCH
          path: /Party/{ID}
          cors: true

  # image functions
  UploadImage:
    handler: utilities/image.Upload
    events:
      - http:
          method: POST
          path: /Image/Upload
          cors: true

resources:
  Resources:
    # users table
    users:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: USERS-LAN
        AttributeDefinitions:
          - AttributeName: ID
            AttributeType: S
          - AttributeName: Username 
            AttributeType: S
          - AttributeName: Email 
            AttributeType: S
        KeySchema:
          - AttributeName: ID
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: Username
            KeySchema:
              - AttributeName: Username
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: Email
            KeySchema:
              - AttributeName: Email
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    # games table
    games:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: GAMES-LAN
        AttributeDefinitions:
          - AttributeName: ID
            AttributeType: S
          - AttributeName: GameName
            AttributeType: S
          - AttributeName: Genre
            AttributeType: S
        KeySchema:
          - AttributeName: ID
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: Name
            KeySchema:
              - AttributeName: Name
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: Genre
            KeySchema:
              - AttributeName: Genre
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    # reports table
    reports:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: REPORTS-LAN
        AttributeDefinitions:
          - AttributeName: ID
            AttributeType: S
          - AttributeName: AccountID
            AttributeType: S
        KeySchema:
          - AttributeName: ID
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: AccountID
            KeySchema:
              - AttributeName: AccountID
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    # parties table
    parties:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: PARTIES-LAN
        AttributeDefinitions:
          - AttributeName: ID
            AttributeType: S
          - AttributeName: PartyName
            AttributeType: S
          - AttributeName: Host
            AttributeType: S
          - AttributeName: PartyLocation
            AttributeType: S
          - AttributeName: PartyTime
            AttributeType: S
        KeySchema:
          - AttributeName: ID
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: PartyName
            KeySchema:
              - AttributeName: PartyName
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: PartyLocation
            KeySchema:
              - AttributeName: PartyLocation
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: PartyTime
            KeySchema:
              - AttributeName: PartyTime
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: Host
            KeySchema:
              - AttributeName: Host
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST